<mat-toolbar color="primary">
  <mat-toolbar-row>
      <h1>AZ-Migration Portal</h1>
      
      
      <!-- <div class="d">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="/addapp">Add Application</button>
    </div> -->
      <!-- <div class="d-flex">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add Application</button>
      </div> -->
      <!-- <div class="search">
          <input type="text"  placeholder="Enter search query">
          <button mat-icon-button class="button" >
            <mat-icon>search</mat-icon>
          </button>
        </div> -->
        
  </mat-toolbar-row>
  
</mat-toolbar> 

<body>

  <!-- <div class="container">
    <mat-table class="mat-elevation-z8" [dataSource]="allApplicationData">
      <ng-container matColumnDef="clientId">
        <mat-header-cell *matHeaderCellDef> Client Id </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.c_Id }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="clientEmail">
        <mat-header-cell *matHeaderCellDef> Client Email </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.c_Email }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="applicationId">
        <mat-header-cell *matHeaderCellDef> Application Id </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.application_Id }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="applicationName">
        <mat-header-cell *matHeaderCellDef> Application Name </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.application_Name }} </mat-cell>
      </ng-container>
  
   
  
      <ng-container matColumnDef="serverInfo">
        <mat-header-cell *matHeaderCellDef> Server Info </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.serverinfo }} </mat-cell>
      </ng-container>
  
      
  
      <ng-container matColumnDef="portInfo">
        <mat-header-cell *matHeaderCellDef> Port Info </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.portinfo }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let data">
          <button mat-icon-button color="primary" (click)="update(data.c_Id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteApplication(data.c_Id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>
  <div class="top-button">
    <button id="button" class="btn btn-primary" routerLink="/admin">Back</button>
  </div> -->


  <div class="main-area">
    <div class="content-area">
      <div class="header">
        <h1>Manage Application</h1>
        <hr>
      </div>
      <div class="container">
        <!--Add application form-->
        <div class="form-area">
          <h3>Create Application</h3>
          <form #applicationForm="ngForm" (ngSubmit)="onApplicationCreate(applicationForm.value)">
            <label>Client Name</label>
            <input type="text" name="c_name" ngModel>
  
            <label>Application Name</label>
            <input type="text" name="application_Name" ngModel>
  
            <label>Server Information</label>
            <input type="text" name="serverinfo" ngModel>
  
            <label>Port Information</label>
            <input type="text" name="portinfo" ngModel>
  
            <input type="submit" value="{{editMode ? 'Update Application':'Add Application'}}">
          </form>
          <div class="top-button">
            <button id="button" class="btn btn-primary" routerLink="/admin">Back</button>
          </div>
        </div>
  
        <!--Display application area-->
        <div class="application-display-area" >
          <h3>All Application</h3>
          <table id="application" >
            <thead >
              <tr >
                <th scope="col">S No.</th>
                <th scope="col">Client Name</th>
                <th scope="col">Application Name</th>
                <th scope="col">Server Information</th>
                <th scope="col">Port Information</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tr *ngFor="let data of allApplications; index as i" >
              <!-- *ngIf="searchText === '' || data.application_Name.toLowerCase.includes(searchText)" -->
              <td>{{i+1}}</td>
              <td>{{data.c_Name}}</td>
              <td>{{data.application_Name}}</td>
              <td>{{data.serverinfo}}</td>
              <td>{{data.portinfo}}</td>
              <td>
                <button mat-icon-button class="btn btn-edit" (click)="onEditClicked(data.c_Id)">            
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="btn btn-delete" (click)="deleteApplication(data.c_Id);">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </table>
          <hr>
          <div class="action-btn-container">
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
