body {
  background-color: #f8f9fa;
  padding: 20px;
}
.card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-label {
  font-weight: bold;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.header {
  padding: 10px;
   height: 60px;
  text-align: center;

  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(183, 231, 246, 1) 0%,
    rgba(56, 143, 170, 1) 56%
  );

  color: white;

  font-size: 40px;
}

footer {
  background-attachment: fixed;

  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(183, 231, 246, 1) 0%,
    rgba(56, 143, 170, 1) 56%
  );

  padding: 10px;
}