<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModallabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" id="exampleModallabel">
            <span style="font-size:25px;font-weight:700">Forgot your Password
            </span><br><small>Please provide your Email we will send the reset link</small></p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group pt-3">
            <div class="input-field"> <span class="fa fa-user p-2"></span><input 
                type="text" placeholder="Email">
            </div>
          </div> 
        </div>
        <div class="modal-footer"> <button type="button" class="btn" style="background-color: #17a2b8; color: white;"
            >Send</button>
          <button id="closebtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
